#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--main-color);
    opacity: 0.9;
    border-bottom: 1px solid var(--main-color);
    z-index: 1000;
}

#navbar .nav-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .main-nav {
    display: flex;
    gap: 24px;
    margin-left: 24px;
}

#navbar .main-nav a {
    color: var(--secondary-color);
    font-size: 15px;
}

#navbar .main-nav a.active,
#navbar .main-nav a:hover {
    color: var(--secondary-color);
}

#navbar .nav-actions {
    font-size: 16px;
    display: flex;
    gap: 16px;
}

#navbar .nav-actions a {
    color: var(--secondary-color);
}

#navbar .nav-actions a.active,
#navbar .nav-actions a:hover {
    color: var(--secondary-color);
}

#navbar .promo {
  background: var(--main-color);
  color: var(--secondary-color);
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid var(--main-color);
  /* margin-top: 59px; */
}
