.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  margin-top: 70px;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.product-gallery {
  width: 450px;
  margin: 20px auto;
  text-align: center;
}

.big-image {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  transition: 0.3s;
  background-color: white;
}

.thumb-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumb {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid transparent;
  background-color: white;
}

.thumb:hover {
  transform: scale(1.1);
  border-color: #ffcf00;
}
