#purchase .cta {
  background: #0071e3;
  color: var(--secondary-color);
  border: none;
  padding: 12px 30px;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

#purchase .cta:hover {
  background: #339aff;
}

#purchase .quantity-selector {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#purchase .quantity-btn {
  background: #b3b3b3;
  border: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

#purchase .quantity-btn:hover {
  background: #555;
}

#purchase .quantity-input {
  width: 60px;
  text-align: center;
  font-size: 1.3rem;
  color: var(--secondary-color);
  background: var(--main-color);
  border: 1px solid #555;
  border-radius: 10px;
  padding: 8px;
}