* {
  color: red !important;
}

body {
  --main-color: black;
  --darkermain-color: black;
}

#purchase .cta {
  background: none !important;
  border: 3px solid silver !important;
}

#purchase .cta:hover {
  background: rgba(192, 192, 192, 40%) !important;
}