

.neon-toggle {
  width: 70px;
  height: 34px;
  background: #222;
  border-radius: 50px;
  position: fixed; 
  bottom: 25px;
  right: 25px; 
  z-index: 9999; 
  cursor: pointer;
  padding: 4px;
  box-shadow: 0 0 12px #00eaff, inset 0 0 8px #00bcd4;
  transition: 0.3s ease;
}

.toggle-circle {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.35s cubic-bezier(0.25, 1.5, 0.5, 1);
  box-shadow: 0 0 10px #00eaff;
}

body.dark .toggle-circle {
  left: 38px;
  background: #000;
  color: #fff;
  box-shadow: 0 0 15px #ff0048;
}

body.dark .neon-toggle {
  background: #111;
  box-shadow: 0 0 15px #ff0000, inset 0 0 10px #8a0000;
}

#themeIcon {
  pointer-events: none;
  transition: 0.3s ease;
}
